<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item">
                <a href="/" class="<%=path==='/'?'active':''%>">Books</a>
            </li>
           <li class="main-header_item"><a href="cart">Cart</a></li> 
           <% if(isAuthenticated) {%>
           <li class="main-header_item">
            <a href="/admin/add-book"  class="<%=path==='/admin/add-book'?'active':''%>">Add Books</a>
        </li>  
           <li class="main-header_item">
             <a href="/admin/books" class="<%=path==='/admin/books'?'active':''%>">Admin Books</a>
        </li>  
        <% } %>
        </ul>
        <ul class="main-header_item-list">
            <% if(!isAuthenticated){ %>
            <li class="main-header_item">
                 <a href="/admin/login" class="<%=path==='/admin/login'?'active':''%>">Login</a>
            </li>
            <li class="main-header_item"> 
                <a href="/admin/signup" class="<%=path==='/admin/signup'?'active':''%>">Signup</a>
            </li>
            <% } else {%>
            <li class="main-header_item"> 
                <a href="/admin/logout">Logout</a>
            </li>
            <% } %>
        </ul>
</nav>
</header>

