<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/book.css">
</head>
<body >
<%- include("../includes/navigation.ejs") %>
<main class="centered">
    <h1>Book Title:<%=book.title%></h1>
    <h1>Book Author:<%=book.author%></h1>
    <h2>Book Release Year:<%=book.year%></h2>
    <h2>Book Descripion:<%=book.description%></h2>
    <h3>Book price:<%=book.price%></
</main>

<%- include("../includes/end.ejs") %>